body {
	margin:0;
	padding:0;
	line-height: 1.5em;
	font-family: sans-serif;
}

b { font-size: 110%; }
em { color: red; }

ul * {
	text-decoration: none;
}

li ~ ul {
	margin-left: -1.5em;
}
	img {
    	max-width: 100%;
    	height: auto;
	}

#topsection {
	background-color: #238AC6;
	height: 110px; /*Height of top section*/
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}

#topsection h1 {
	margin: 0;
	padding-top: 40px;
	padding-left: 40px;
}

#contentwrapper {
	float: left;
	width: 100%;
}

#contentcolumn {
	margin-left: 215px; /*Set left margin to LeftColumnWidth*/
	margin-right: 15px;
}

#leftcolumn {
	float: left;
	width: 200px; /*Width of left column*/
	margin-left: -100%;
	background: #C8FC98;
}

#footer {
	clear: left;
	width: 100%;
	background: black;
	color: #FFF;
	text-align: center;
	padding: 4px 0;
}

#footer a {
	color: #FFFF80;
}

.innertube {
	margin: 10px; /*Margins for inner DIV inside each column (to provide padding)*/
	margin-top: 0;
}

/* ####### responsive layout CSS ####### */

@media (max-width: 600px) { /* responsive layout break point */

	#contentwrapper {
		float: none;
	}

	#leftcolumn {
		float: none;
		width: 100%;
		margin-left: 0;
	}

	#contentcolumn {
		margin-left: 0;
	}
}
